{% extends "layout.html" %}

{% block content %}
    <div class="input-post">
    {% if user %}
        <div>
          <form id="post-form" action="/post" method="post">
            <div>   
              <label id="post-title" for="post-title">게시글 제목</label>
              <input id="title" type="text" name="title" placeholder="게시글 제목을 입력하세요" required>
            </div>
            <div class="input-group">
              <textarea id="post-contents" name="contents" maxlength="140"></textarea>
            </div>
            </div>
            <div>
              <button id="post-btn" type="submit" class="btn">생성</button>
            </div>
          </form>
    {% endif %} 
    </div>
{% endblock %}